@font-face {
  font-family: 'barfont';
  src:  url('/fonts/barfont.eot?qa53vf');
  src:  url('/fonts/barfont.eot?qa53vf#iefix') format('embedded-opentype'),
  url('/fonts/barfont.ttf?qa53vf') format('truetype'),
  url('/fonts/barfont.woff?qa53vf') format('woff'),
  url('/fonts/barfont.svg?qa53vf#barfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bc-glyph-"], [class*=" bc-glyph-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'barfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bc-glyph-channel:before {
  content: "\e952";
}
.bc-glyph-pitchfork:before {
  content: "\e953";
}
.bc-glyph-ohlc-colored .path1:before {
  content: "\e944";
  color: rgb(0, 125, 52);
}
.bc-glyph-ohlc-colored .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(196, 0, 0);
}
.bc-glyph-ohlc-colored .path3:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 125, 52);
}
.bc-glyph-ohlc-colored .path4:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 125, 52);
}
.bc-glyph-ohlc-colored .path5:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(196, 0, 0);
}
.bc-glyph-ohlc-colored .path6:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(196, 0, 0);
}
.bc-glyph-ohlc:before {
  content: "\e94a";
}
.bc-glyph-area:before {
  content: "\e91e";
}
.bc-glyph-candlestick-colored:before {
  content: "\e942";
}
.bc-glyph-hlc:before {
  content: "\e943";
}
.bc-glyph-fish-hook:before {
  content: "\e941";
}
.bc-glyph-middle-line:before {
  content: "\e93e";
}
.bc-glyph-line-horizontal:before {
  content: "\e93c";
}
.bc-glyph-line-vertical:before {
  content: "\e93d";
}
.bc-glyph-expressions:before {
  content: "\e93b";
}
.bc-glyph-long-arrow-ne:before {
  content: "\e937";
}
.bc-glyph-template:before {
  content: "\e932";
}
.bc-glyph-text-caret:before {
  content: "\e92b";
}
.bc-glyph-arc:before {
  content: "\e914";
}
.bc-glyph-arc-up:before {
  content: "\e917";
}
.bc-glyph-arc-down:before {
  content: "\e922";
}
.bc-glyph-bar-area:before {
  content: "\e923";
}
.bc-glyph-bar-candlestick:before {
  content: "\e924";
}
.bc-glyph-bar-candlestick-hollow:before {
  content: "\e92a";
}
.bc-glyph-bar-line:before {
  content: "\e921";
}
.bc-glyph-circle-1:before {
  content: "\e91d";
}
.bc-glyph-circle-2:before {
  content: "\e91f";
}
.bc-glyph-circle-3:before {
  content: "\e920";
}
.bc-glyph-circle-question:before {
  content: "\e91c";
}
.bc-glyph-ellipse:before {
  content: "\e91b";
}
.bc-glyph-fan:before {
  content: "\e91a";
}
.bc-glyph-rectangle:before {
  content: "\e915";
}
.bc-glyph-retracement:before {
  content: "\e916";
}
.bc-glyph-timezone:before {
  content: "\e918";
}
.bc-glyph-trendline:before {
  content: "\e919";
}
.bc-glyph-file:before {
  content: "\e951";
}
.bc-glyph-area-chart:before {
  content: "\e94f";
}
.bc-glyph-cloud:before {
  content: "\e950";
}
.bc-glyph-briefcase:before {
  content: "\e94c";
}
.bc-glyph-chevron-circle-down:before {
  content: "\e94d";
}
.bc-glyph-download2:before {
  content: "\e94e";
}
.bc-glyph-list:before {
  content: "\e94b";
}
.bc-glyph-calculator:before {
  content: "\e93f";
}
.bc-glyph-percent:before {
  content: "\e940";
}
.bc-glyph-archive:before {
  content: "\e938";
}
.bc-glyph-comment:before {
  content: "\e939";
}
.bc-glyph-trash:before {
  content: "\e93a";
}
.bc-glyph-check-square:before {
  content: "\e935";
}
.bc-glyph-square-o:before {
  content: "\e936";
}
.bc-glyph-share:before {
  content: "\e934";
}
.bc-glyph-share-square:before {
  content: "\e933";
}
.bc-glyph-film:before {
  content: "\e931";
}
.bc-glyph-sticky-note:before {
  content: "\e92f";
}
.bc-glyph-sticky-note-o:before {
  content: "\e930";
}
.bc-glyph-eye:before {
  content: "\e92c";
}
.bc-glyph-eye-slash:before {
  content: "\e92d";
}
.bc-glyph-refresh:before {
  content: "\e92e";
}
.bc-glyph-arrow-left:before {
  content: "\e910";
}
.bc-glyph-arrow-down:before {
  content: "\e925";
}
.bc-glyph-arrow-right:before {
  content: "\e926";
}
.bc-glyph-arrow-up:before {
  content: "\e927";
}
.bc-glyph-thumbs-o-down:before {
  content: "\e928";
}
.bc-glyph-thumbs-o-up:before {
  content: "\e929";
}
.bc-glyph-expand:before {
  content: "\e913";
}
.bc-glyph-question-circle-o:before {
  content: "\e911";
}
.bc-glyph-google-plus:before {
  content: "\e912";
}
.bc-glyph-bug:before {
  content: "\e90f";
}
.bc-glyph-filter:before {
  content: "\e90d";
}
.bc-glyph-bell:before {
  content: "\e90e";
}
.bc-glyph-pencil:before {
  content: "\e90c";
}
.bc-glyph-exclamation-circle:before {
  content: "\e90a";
}
.bc-glyph-star:before {
  content: "\e90b";
}
.bc-glyph-bar-chart:before {
  content: "\e907";
}
.bc-glyph-list-alt:before {
  content: "\e908";
}
.bc-glyph-mobile:before {
  content: "\e909";
}
.bc-glyph-flipcharts:before {
  content: "\e906";
}
.bc-glyph-long-arrow-left:before {
  content: "\e902";
}
.bc-glyph-long-arrow-up:before {
  content: "\e903";
}
.bc-glyph-long-arrow-right:before {
  content: "\e904";
}
.bc-glyph-long-arrow-down:before {
  content: "\e905";
}
.bc-glyph-calendar:before {
  content: "\e901";
}
.bc-glyph-cog:before {
  content: "\e900";
}
.bc-glyph-sort-asc:before {
  content: "\e82a";
}
.bc-glyph-sort-desc:before {
  content: "\e82b";
}
.bc-glyph-angle-down:before {
  content: "\e800";
}
.bc-glyph-bars:before {
  content: "\e801";
}
.bc-glyph-bicycle:before {
  content: "\e802";
}
.bc-glyph-check:before {
  content: "\e803";
}
.bc-glyph-chevron-down:before {
  content: "\e804";
}
.bc-glyph-chevron-left:before {
  content: "\e805";
}
.bc-glyph-chevron-right:before {
  content: "\e806";
}
.bc-glyph-chevron-up:before {
  content: "\e807";
}
.bc-glyph-code:before {
  content: "\e808";
}
.bc-glyph-download:before {
  content: "\e809";
}
.bc-glyph-ellipsis-v:before {
  content: "\e80a";
}
.bc-glyph-envelope-o:before {
  content: "\e80b";
}
.bc-glyph-facebook:before {
  content: "\e80c";
}
.bc-glyph-facebook-square:before {
  content: "\e80d";
}
.bc-glyph-file-excel-o:before {
  content: "\e80e";
}
.bc-glyph-file-pdf-o:before {
  content: "\e80f";
}
.bc-glyph-file-word-o:before {
  content: "\e810";
}
.bc-glyph-globe:before {
  content: "\e811";
}
.bc-glyph-heartbeat:before {
  content: "\e813";
}
.bc-glyph-laptop:before {
  content: "\e814";
}
.bc-glyph-leaf:before {
  content: "\e815";
}
.bc-glyph-line-chart:before {
  content: "\e816";
}
.bc-glyph-linkedin:before {
  content: "\e817";
}
.bc-glyph-minus:before {
  content: "\e818";
}
.bc-glyph-minus-circle:before {
  content: "\e819";
}
.bc-glyph-money:before {
  content: "\e81a";
}
.bc-glyph-plane:before {
  content: "\e81b";
}
.bc-glyph-play-circle-o:before {
  content: "\e81c";
}
.bc-glyph-plus:before {
  content: "\e81d";
}
.bc-glyph-print:before {
  content: "\e81e";
}
.bc-glyph-realtime:before {
  content: "\e81f";
}
.bc-glyph-search:before {
  content: "\e820";
}
.bc-glyph-search-plus:before {
  content: "\e821";
}
.bc-glyph-spinner:before {
  content: "\e822";
}
.bc-glyph-times:before {
  content: "\e823";
}
.bc-glyph-tint:before {
  content: "\e824";
}
.bc-glyph-twitter:before {
  content: "\e825";
}
.bc-glyph-twitter-square:before {
  content: "\e826";
}
.bc-glyph-usd:before {
  content: "\e827";
}
.bc-glyph-user:before {
  content: "\e828";
}
.bc-glyph-wrench:before {
  content: "\e829";
}
